In [15]:
import psutil
import platform

print(platform.system())  # 操作系统名称
print(platform.release())  # 操作系统版本
print(platform.machine())  # 计算机架构
print(platform.processor())  # 处理器类型

# CPU 信息
print(psutil.cpu_count())  # CPU 核数
print(psutil.cpu_freq())  # CPU 频率

# 内存信息
print(psutil.virtual_memory())  # 内存总量、可用内存、已用内存等

Windows
11
AMD64
Intel64 Family 6 Model 154 Stepping 3, GenuineIntel
20
scpufreq(current=2300.0, min=0.0, max=2300.0)
svmem(total=16890978304, available=954490880, percent=94.3, used=15936487424, free=954490880)

# 3 构建pandas 对象

1. 创建一个pandas Series 对象，其索引由英文字母表的前 10 个字母给
出，值由前10个质数给出。

In [16]:
import pandas as pd

# 定义前10个英文字母和前10个质数
alphabet = list('abcdefghij')
primes = [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

# 创建pandas Series对象
series_obj = pd.Series(primes, index=alphabet)
series_obj

a     2
b     3
c     5
d     7
e    11
f    13
g    17
h    19
i    23
j    29
dtype: int64

# 4 使用pandas DataFrame
在这个问题中，你将练习使用pandasDataFrame，将它们读入和写出
内存，更改它们的内容，并执行聚合操作。
1. 对于这个问题，你需要从课程群里下载一个 iris.csv 文件。请在你
的提交中包含这个文件。将 iris.csv 读入 Python，作为一个 pa DataFrame。注意 CSV 文件包括列标题。这个数据集中有多少个数据
点？列的数据类型是什么？列名是什么？列名对应于花卉种类名称，以
及可以对花卉进行的四个基本测量：花瓣的宽度和长度以及萼片（支
撑和保护花卉本身的部分）的宽度和长度。数据中包含多少种花卉？

In [17]:
import pandas as pd

# 文件路径
file_path = 'iris.csv'

# 读取CSV文件
iris_df = pd.read_csv(file_path)

# 获取数据点数量
num_data_points = iris_df.shape[0]

# 获取列的数据类型
column_data_types = iris_df.dtypes

# 获取列名
column_names = iris_df.columns.tolist()

# 获取数据中包含的花卉种类数量
num_flower_species = len(iris_df['Species'].unique())

# 打印结果
print(f"数据集中的数据点数量: {num_data_points}")
print(f"列的数据类型: \n{column_data_types}")
print(f"列名: {column_names}")
print(f"数据中包含的花卉种类数量: {num_flower_species}")

数据集中的数据点数量: 150
列的数据类型:
Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object
列名: ['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm', 'Species']
数据中包含的花卉种类数量: 3

2. 现在已知这数据包含两行的错误，这些错误在第35行和第38行。第
35 行应该读作4.9,3.1,1.5,0.2,”setosa”，其中第四个特征在文件中出现
错误，第38行应该读作4.9,3.6,1.4,0.1,”setosa”，其中第二和第三个特
征在文件中出现错误。更正你的DataFrame中的这些条目。

In [18]:
# 更正第35行和第38行的错误数据
iris_df.at[34, 'SepalLengthCm'] = 4.9
iris_df.at[34, 'SepalWidthCm'] = 3.1
iris_df.at[34, 'PetalLengthCm'] = 1.5
iris_df.at[34, 'PetalWidthCm'] = 0.2
iris_df.at[34, 'Species'] = 'Iris-setosa'

iris_df.at[37, 'SepalLengthCm'] = 4.9
iris_df.at[37, 'SepalWidthCm'] = 3.6
iris_df.at[37, 'PetalLengthCm'] = 1.4
iris_df.at[37, 'PetalWidthCm'] = 0.1
iris_df.at[37, 'Species'] = 'Iris-setosa'

# 查看更正后的第35行和第38行数据
corrected_rows = iris_df.iloc[[34, 37]]

corrected_rows

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
34  35            4.9           3.1            1.5           0.2  Iris-setosa
37  38            4.9           3.6            1.4           0.1  Iris-setosa

3. iris 数据集通常用于机器学习中，作为聚类和分类算法的试验场。一些
研究人员发现使用两个额外的特征很有用，称为花瓣比率和萼片比率，
分别定义为花瓣长度与花瓣宽度的比率和萼片长度与萼片宽度的比率。
在你的DataFrame 中添加两列，对应这两个新特征。将这些列命名为
Petal.Ratio 和 Sepal.Ratio

In [19]:
# 计算花瓣比率和萼片比率，并添加到DataFrame中
iris_df['Petal.Ratio'] = iris_df['PetalLengthCm'] / iris_df['PetalWidthCm']
iris_df['Sepal.Ratio'] = iris_df['SepalLengthCm'] / iris_df['SepalWidthCm']

# 查看添加了新特征后的DataFrame的前几行
iris_df.head()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,Petal.Ratio,Sepal.Ratio
0,1,5.1,3.5,1.4,0.2,Iris-setosa,7.0,1.457143
1,2,4.9,3.0,1.4,0.2,Iris-setosa,7.0,1.633333
2,3,4.7,3.2,1.3,0.2,Iris-setosa,6.5,1.468750
3,4,4.6,3.1,1.5,0.2,Iris-setosa,7.5,1.483871
4,5,5.0,3.6,1.4,0.2,Iris-setosa,7.0,1.388889

4. 将你更正和扩展的iris DataFrame 保存为一个名为 iris_corrected.csv
的csv 文件。请在你的提交中包含这个文件。

In [20]:
# 将更正和扩展后的iris DataFrame保存为iris_corrected.csv文件
iris_corrected_file_path = 'iris_corrected.csv'
iris_df.to_csv(iris_corrected_file_path, index=False)

iris_corrected_file_path

'iris_corrected.csv'

5. 使用 pandas 聚合操作，确定数据集中每种花卉的花瓣和萼片比率的
平均值、中位数、最小值、最大值和标准差。使用一个合适的group-by
或aggregate 操作获得所有这些数字

In [21]:
# 使用group-by操作计算每种花卉的花瓣和萼片比率的聚合统计
aggregations = {
    'Petal.Ratio': ['mean', 'median', 'min', 'max', 'std'],
    'Sepal.Ratio': ['mean', 'median', 'min', 'max', 'std']
}

iris_aggregated = iris_df.groupby('Species').agg(aggregations)
iris_aggregated.columns = iris_aggregated.columns.map('_'.join)
iris_aggregated.reset_index(inplace=True)
iris_aggregated

,Species,Petal.Ratio_mean,Petal.Ratio_median,Petal.Ratio_min,Petal.Ratio_max,Petal.Ratio_std,Sepal.Ratio_mean,Sepal.Ratio_median,Sepal.Ratio_min,Sepal.Ratio_max,Sepal.Ratio_std
0,Iris-setosa,6.908000,7.000000,2.666667,15.0,2.854545,1.470188,1.463063,1.268293,1.956522,0.118750
1,Iris-versicolor,3.242837,3.240385,2.666667,4.1,0.312456,2.160402,2.161290,1.764706,2.818182,0.228658
2,Iris-virginica,2.780662,2.666667,2.125000,4.0,0.407367,2.230453,2.169540,1.823529,2.961538,0.246992