In [105]:
import psutil
import platform

print(platform.system())  # 操作系统名称
print(platform.release())  # 操作系统版本
print(platform.machine())  # 计算机架构
print(platform.processor())  # 处理器类型

# CPU 信息
print(psutil.cpu_count())  # CPU 核数
print(psutil.cpu_freq())  # CPU 频率

# 内存信息
print(psutil.virtual_memory())  # 内存总量、可用内存、已用内存等

Windows
11
AMD64
Intel64 Family 6 Model 154 Stepping 3, GenuineIntel
20
scpufreq(current=2300.0, min=0.0, max=2300.0)
svmem(total=16890978304, available=6001377280, percent=64.5, used=10889601024, free=6001377280)

# LECTURE07

In [106]:
import urllib.request
response = urllib.request.urlopen('https://kdding.github.io/researches.html')
type(response)

http.client.HTTPResponse

In [107]:
response.getcode()

200

In [108]:
response.geturl()

'https://kdding.github.io/researches.html'

In [109]:
response.geturl()

'https://kdding.github.io/researches.html'

In [110]:
import urllib.request
response = urllib.request.urlopen('https://kdding.github.io/researches.html')
print(type(response))
response.read()

<class 'http.client.HTTPResponse'>

b'<!DOCTYPE html>\n<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"><head>\n\n<meta charset="utf-8">\n<meta name="generator" content="quarto-1.4.553">\n\n<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">\n\n\n<title>Pingjian Ding - Researches</title>\n<style>\ncode{white-space: pre-wrap;}\nspan.smallcaps{font-variant: small-caps;}\ndiv.columns{display: flex; gap: min(4vw, 1.5em);}\ndiv.column{flex: auto; overflow-x: auto;}\ndiv.hanging-indent{margin-left: 1.5em; text-indent: -1.5em;}\nul.task-list{list-style: none;}\nul.task-list li input[type="checkbox"] {\n  width: 0.8em;\n  margin: 0 0.8em 0.2em -1em; /* quarto-specific, see https://github.com/quarto-dev/quarto-cli/issues/4556 */ \n  vertical-align: middle;\n}\n</style>\n\n\n<script src="site_libs/quarto-nav/quarto-nav.js"></script>\n<script src="site_libs/quarto-nav/headroom.min.js"></script>\n<script src="site_libs/clipboard/clipboard.min.js"></script>\n<script src="site_libs/quarto-search/autocomplete.umd.js"></script>\n<script src="site_libs/quarto-search/fuse.min.js"></script>\n<script src="site_libs/quarto-search/quarto-search.js"></script>\n<meta name="quarto:offset" content="./">\n<script src="site_libs/quarto-html/quarto.js"></script>\n<script src="site_libs/quarto-html/popper.min.js"></script>\n<script src="site_libs/quarto-html/tippy.umd.min.js"></script>\n<script src="site_libs/quarto-html/anchor.min.js"></script>\n<link href="site_libs/quarto-html/tippy.css" rel="stylesheet">\n<link href="site_libs/quarto-html/quarto-syntax-highlighting.css" rel="stylesheet" id="quarto-text-highlighting-styles">\n<script src="site_libs/bootstrap/bootstrap.min.js"></script>\n<link href="site_libs/bootstrap/bootstrap-icons.css" rel="stylesheet">\n<link href="site_libs/bootstrap/bootstrap.min.css" rel="stylesheet" id="quarto-bootstrap" data-mode="light">\n<script id="quarto-search-options" type="application/json">{\n  "location": "navbar",\n  "copy-button": false,\n  "collapse-after": 3,\n  "panel-placement": "end",\n  "type": "overlay",\n  "limit": 50,\n  "keyboard-shortcut": [\n    "f",\n    "/",\n    "s"\n  ],\n  "show-item-context": false,\n  "language": {\n    "search-no-results-text": "No results",\n    "search-matching-documents-text": "matching documents",\n    "search-copy-link-title": "Copy link to search",\n    "search-hide-matches-text": "Hide additional matches",\n    "search-more-match-text": "more match in this document",\n    "search-more-matches-text": "more matches in this document",\n    "search-clear-button-title": "Clear",\n    "search-text-placeholder": "",\n    "search-detached-cancel-button-title": "Cancel",\n    "search-submit-button-title": "Submit",\n    "search-label": "Search"\n  }\n}</script>\n\n\n<link rel="stylesheet" href="styles.css">\n</head>\n\n<body class="nav-fixed">\n\n<div id="quarto-search-results"></div>\n  <header id="quarto-header" class="headroom fixed-top">\n    <nav class="navbar navbar-expand-lg " data-bs-theme="dark">\n      <div class="navbar-container container-fluid">\n      <div class="navbar-brand-container mx-auto">\n    <a class="navbar-brand" href="./index.html">\n    <span class="navbar-title">Pingjian Ding</span>\n    </a>\n  </div>\n            <div id="quarto-search" class="" title="Search"></div>\n          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation" onclick="if (window.quartoToggleHeadroom) { window.quartoToggleHeadroom(); }">\n  <span class="navbar-toggler-icon"></span>\n</button>\n          <div class="collapse navbar-collapse" id="navbarCollapse">\n            <ul class="navbar-nav navbar-nav-scroll me-auto">\n  <li class="nav-item">\n    <a class="nav-link" href="./index.html"> \n<span class="menu-text">Home</span></a>\n  </li>  \n  <li class="nav-item">\n    <a class="nav-link active" href="./researches.html" aria-current="page"> \n<span class="menu-text">Researches</span></a>\n  </li>  \n  <li class="nav-item">\n    <a class="nav-link" href="./publications.html"> \n<span class="menu-text">Publications</span></a>\n  </li>  \n  <li class="nav-item">\n    <a class="nav-link" href="./courses.html"> \n<span class="menu-text">Courses</span></a>\n  </li>  \n  <li class="nav-item">\n    <a class="nav-link" href="./blogs.html"> \n<span class="menu-text">Blogs</span></a>\n  </li>  \n  <li class="nav-item">\n    <a class="nav-link" href="./contact.html"> \n<span class="menu-text">Contact</span></a>\n  </li>  \n</ul>\n          </div> <!-- /navcollapse -->\n          <div class="quarto-navbar-tools">\n</div>\n      </div> <!-- /container-fluid -->\n    </nav>\n</header>\n<!-- content -->\n<div id="quarto-content" class="quarto-container page-columns page-rows-contents page-layout-article page-navbar">\n<!-- sidebar -->\n<!-- margin-sidebar -->\n    <div id="quarto-margin-sidebar" class="sidebar margin-sidebar">\n        <nav id="TOC" role="doc-toc" class="toc-active">\n    <h2 id="toc-title">On this page</h2>\n   \n  <ul>\n  <li><a href="#machine-learning-frameworks-in-biomedical-science" id="toc-machine-learning-frameworks-in-biomedical-science" class="nav-link active" data-scroll-target="#machine-learning-frameworks-in-biomedical-science">Machine Learning Frameworks in Biomedical Science</a></li>\n  <li><a href="#statistical-genetics-for-causal-relationships" id="toc-statistical-genetics-for-causal-relationships" class="nav-link" data-scroll-target="#statistical-genetics-for-causal-relationships">Statistical Genetics for Causal Relationships</a></li>\n  <li><a href="#target-trial-emulation" id="toc-target-trial-emulation" class="nav-link" data-scroll-target="#target-trial-emulation">Target trial emulation</a></li>\n  </ul>\n</nav>\n    </div>\n<!-- main -->\n<main class="content" id="quarto-document-content">\n\n<header id="title-block-header" class="quarto-title-block default">\n<div class="quarto-title">\n<h1 class="title">Researches</h1>\n</div>\n\n\n\n<div class="quarto-title-meta">\n\n    \n  \n    \n  </div>\n  \n\n\n</header>\n\n\n<section id="machine-learning-frameworks-in-biomedical-science" class="level2">\n<h2 class="anchored" data-anchor-id="machine-learning-frameworks-in-biomedical-science">Machine Learning Frameworks in Biomedical Science</h2>\n<div class="columns">\n<div class="column" style="width:65%;">\n<p>We have been developing tensor factorization and deep learning methods to facilitate the analysis of epigenomic data and use integrative modeling approaches to study genomic transcriptional and epigenetic gene regulatory mechanisms underlying psychiatry diseases. We are developing new methods to utilize the abundant public relationship data to understand targets and specificity of drugs in treating Alzheimer\xe2\x80\x99s Disease.</p>\n</div><div class="column" style="width:35%;">\n<p><img src="assets/img/research-deep-learning.png" class="img-fluid"></p>\n</div>\n</div>\n</section>\n<section id="statistical-genetics-for-causal-relationships" class="level2">\n<h2 class="anchored" data-anchor-id="statistical-genetics-for-causal-relationships">Statistical Genetics for Causal Relationships</h2>\n<div class="columns">\n<div class="column" style="width:65%;">\n<p>We have been utilizing causal inference methods to facilitate the analysis of genotyping data and employing Mendelian randomization approaches to investigate the causal associations between Alzheimer\xe2\x80\x99s disease and various drugs, viruses, and other risk factors. Our investigations on aspirin and GLP-1R agonists suggest that they may have the potential to offer effective neuroprotective properties.</p>\n</div><div class="column" style="width:35%;">\n<p><img src="assets/img/statistic.png" class="img-fluid"></p>\n</div>\n</div>\n</section>\n<section id="target-trial-emulation" class="level2">\n<h2 class="anchored" data-anchor-id="target-trial-emulation">Target trial emulation</h2>\n<div class="columns">\n<div class="column" style="width:65%;">\n<p>We are developing deep learning-based methods to approximate the results of a randomized trial by directly comparing outcomes between individuals who received the treatment of interest and those who did not. Additionally, by analyzing electronic health records, we are identifying potential drug combinations for controlling blood pressure and exploring novel drugs for neurodegenerative diseases.</p>\n</div><div class="column" style="width:35%;">\n<p><img src="assets/img/research_EHR.png" class="img-fluid"></p>\n</div>\n</div>\n\n\n</section>\n\n</main> <!-- /main -->\n<script id="quarto-html-after-body" type="application/javascript">\nwindow.document.addEventListener("DOMContentLoaded", function (event) {\n  const toggleBodyColorMode = (bsSheetEl) => {\n    const mode = bsSheetEl.getAttribute("data-mode");\n    const bodyEl = window.document.querySelector("body");\n    if (mode === "dark") {\n      bodyEl.classList.add("quarto-dark");\n      bodyEl.classList.remove("quarto-light");\n    } else {\n      bodyEl.classList.add("quarto-light");\n      bodyEl.classList.remove("quarto-dark");\n    }\n  }\n  const toggleBodyColorPrimary = () => {\n    const bsSheetEl = window.document.querySelector("link#quarto-bootstrap");\n    if (bsSheetEl) {\n      toggleBodyColorMode(bsSheetEl);\n    }\n  }\n  toggleBodyColorPrimary();  \n  const icon = "\xee\xa7\x8b";\n  const anchorJS = new window.AnchorJS();\n  anchorJS.options = {\n    placement: \'right\',\n    icon: icon\n  };\n  anchorJS.add(\'.anchored\');\n  const isCodeAnnotation = (el) => {\n    for (const clz of el.classList) {\n      if (clz.startsWith(\'code-annotation-\')) {                     \n        return true;\n      }\n    }\n    return false;\n  }\n  const clipboard = new window.ClipboardJS(\'.code-copy-button\', {\n    text: function(trigger) {\n      const codeEl = trigger.previousElementSibling.cloneNode(true);\n      for (const childEl of codeEl.children) {\n        if (isCodeAnnotation(childEl)) {\n          childEl.remove();\n        }\n      }\n      return codeEl.innerText;\n    }\n  });\n  clipboard.on(\'success\', function(e) {\n    // button target\n    const button = e.trigger;\n    // don\'t keep focus\n    button.blur();\n    // flash "checked"\n    button.classList.add(\'code-copy-button-checked\');\n    var currentTitle = button.getAttribute("title");\n    button.setAttribute("title", "Copied!");\n    let tooltip;\n    if (window.bootstrap) {\n      button.setAttribute("data-bs-toggle", "tooltip");\n      button.setAttribute("data-bs-placement", "left");\n      button.setAttribute("data-bs-title", "Copied!");\n      tooltip = new bootstrap.Tooltip(button, \n        { trigger: "manual", \n          customClass: "code-copy-button-tooltip",\n          offset: [0, -8]});\n      tooltip.show();    \n    }\n    setTimeout(function() {\n      if (tooltip) {\n        tooltip.hide();\n        button.removeAttribute("data-bs-title");\n        button.removeAttribute("data-bs-toggle");\n        button.removeAttribute("data-bs-placement");\n      }\n      button.setAttribute("title", currentTitle);\n      button.classList.remove(\'code-copy-button-checked\');\n    }, 1000);\n    // clear code selection\n    e.clearSelection();\n  });\n    var localhostRegex = new RegExp(/^(?:http|https):\\/\\/localhost\\:?[0-9]*\\//);\n    var mailtoRegex = new RegExp(/^mailto:/);\n      var filterRegex = new RegExp(\'/\' + window.location.host + \'/\');\n    var isInternal = (href) => {\n        return filterRegex.test(href) || localhostRegex.test(href) || mailtoRegex.test(href);\n    }\n    // Inspect non-navigation links and adorn them if external\n \tvar links = window.document.querySelectorAll(\'a[href]:not(.nav-link):not(.navbar-brand):not(.toc-action):not(.sidebar-link):not(.sidebar-item-toggle):not(.pagination-link):not(.no-external):not([aria-hidden]):not(.dropdown-item):not(.quarto-navigation-tool)\');\n    for (var i=0; i<links.length; i++) {\n      const link = links[i];\n      if (!isInternal(link.href)) {\n        // undo the damage that might have been done by quarto-nav.js in the case of\n        // links that we want to consider external\n        if (link.dataset.originalHref !== undefined) {\n          link.href = link.dataset.originalHref;\n        }\n      }\n    }\n  function tippyHover(el, contentFn, onTriggerFn, onUntriggerFn) {\n    const config = {\n      allowHTML: true,\n      maxWidth: 500,\n      delay: 100,\n      arrow: false,\n      appendTo: function(el) {\n          return el.parentElement;\n      },\n      interactive: true,\n      interactiveBorder: 10,\n      theme: \'quarto\',\n      placement: \'bottom-start\',\n    };\n    if (contentFn) {\n      config.content = contentFn;\n    }\n    if (onTriggerFn) {\n      config.onTrigger = onTriggerFn;\n    }\n    if (onUntriggerFn) {\n      config.onUntrigger = onUntriggerFn;\n    }\n    window.tippy(el, config); \n  }\n  const noterefs = window.document.querySelectorAll(\'a[role="doc-noteref"]\');\n  for (var i=0; i<noterefs.length; i++) {\n    const ref = noterefs[i];\n    tippyHover(ref, function() {\n      // use id or data attribute instead here\n      let href = ref.getAttribute(\'data-footnote-href\') || ref.getAttribute(\'href\');\n      try { href = new URL(href).hash; } catch {}\n      const id = href.replace(/^#\\/?/, "");\n      const note = window.document.getElementById(id);\n      if (note) {\n        return note.innerHTML;\n      } else {\n        return "";\n      }\n    });\n  }\n  const xrefs = window.document.querySelectorAll(\'a.quarto-xref\');\n  const processXRef = (id, note) => {\n    // Strip column container classes\n    const stripColumnClz = (el) => {\n      el.classList.remove("page-full", "page-columns");\n      if (el.children) {\n        for (const child of el.children) {\n          stripColumnClz(child);\n        }\n      }\n    }\n    stripColumnClz(note)\n    if (id === null || id.startsWith(\'sec-\')) {\n      // Special case sections, only their first couple elements\n      const container = document.createElement("div");\n      if (note.children && note.children.length > 2) {\n        container.appendChild(note.children[0].cloneNode(true));\n        for (let i = 1; i < note.children.length; i++) {\n          const child = note.children[i];\n          if (child.tagName === "P" && child.innerText === "") {\n            continue;\n          } else {\n            container.appendChild(child.cloneNode(true));\n            break;\n          }\n        }\n        if (window.Quarto?.typesetMath) {\n          window.Quarto.typesetMath(container);\n        }\n        return container.innerHTML\n      } else {\n        if (window.Quarto?.typesetMath) {\n          window.Quarto.typesetMath(note);\n        }\n        return note.innerHTML;\n      }\n    } else {\n      // Remove any anchor links if they are present\n      const anchorLink = note.querySelector(\'a.anchorjs-link\');\n      if (anchorLink) {\n        anchorLink.remove();\n      }\n      if (window.Quarto?.typesetMath) {\n        window.Quarto.typesetMath(note);\n      }\n      // TODO in 1.5, we should make sure this works without a callout special case\n      if (note.classList.contains("callout")) {\n        return note.outerHTML;\n      } else {\n        return note.innerHTML;\n      }\n    }\n  }\n  for (var i=0; i<xrefs.length; i++) {\n    const xref = xrefs[i];\n    tippyHover(xref, undefined, function(instance) {\n      instance.disable();\n      let url = xref.getAttribute(\'href\');\n      let hash = undefined; \n      if (url.startsWith(\'#\')) {\n        hash = url;\n      } else {\n        try { hash = new URL(url).hash; } catch {}\n      }\n      if (hash) {\n        const id = hash.replace(/^#\\/?/, "");\n        const note = window.document.getElementById(id);\n        if (note !== null) {\n          try {\n            const html = processXRef(id, note.cloneNode(true));\n            instance.setContent(html);\n          } finally {\n            instance.enable();\n            instance.show();\n          }\n        } else {\n          // See if we can fetch this\n          fetch(url.split(\'#\')[0])\n          .then(res => res.text())\n          .then(html => {\n            const parser = new DOMParser();\n            const htmlDoc = parser.parseFromString(html, "text/html");\n            const note = htmlDoc.getElementById(id);\n            if (note !== null) {\n              const html = processXRef(id, note);\n              instance.setContent(html);\n            } \n          }).finally(() => {\n            instance.enable();\n            instance.show();\n          });\n        }\n      } else {\n        // See if we can fetch a full url (with no hash to target)\n        // This is a special case and we should probably do some content thinning / targeting\n        fetch(url)\n        .then(res => res.text())\n        .then(html => {\n          const parser = new DOMParser();\n          const htmlDoc = parser.parseFromString(html, "text/html");\n          const note = htmlDoc.querySelector(\'main.content\');\n          if (note !== null) {\n            // This should only happen for chapter cross references\n            // (since there is no id in the URL)\n            // remove the first header\n            if (note.children.length > 0 && note.children[0].tagName === "HEADER") {\n              note.children[0].remove();\n            }\n            const html = processXRef(null, note);\n            instance.setContent(html);\n          } \n        }).finally(() => {\n          instance.enable();\n          instance.show();\n        });\n      }\n    }, function(instance) {\n    });\n  }\n      let selectedAnnoteEl;\n      const selectorForAnnotation = ( cell, annotation) => {\n        let cellAttr = \'data-code-cell="\' + cell + \'"\';\n        let lineAttr = \'data-code-annotation="\' +  annotation + \'"\';\n        const selector = \'span[\' + cellAttr + \'][\' + lineAttr + \']\';\n        return selector;\n      }\n      const selectCodeLines = (annoteEl) => {\n        const doc = window.document;\n        const targetCell = annoteEl.getAttribute("data-target-cell");\n        const targetAnnotation = annoteEl.getAttribute("data-target-annotation");\n        const annoteSpan = window.document.querySelector(selectorForAnnotation(targetCell, targetAnnotation));\n        const lines = annoteSpan.getAttribute("data-code-lines").split(",");\n        const lineIds = lines.map((line) => {\n          return targetCell + "-" + line;\n        })\n        let top = null;\n        let height = null;\n        let parent = null;\n        if (lineIds.length > 0) {\n            //compute the position of the single el (top and bottom and make a div)\n            const el = window.document.getElementById(lineIds[0]);\n            top = el.offsetTop;\n            height = el.offsetHeight;\n            parent = el.parentElement.parentElement;\n          if (lineIds.length > 1) {\n            const lastEl = window.document.getElementById(lineIds[lineIds.length - 1]);\n            const bottom = lastEl.offsetTop + lastEl.offsetHeight;\n            height = bottom - top;\n          }\n          if (top !== null && height !== null && parent !== null) {\n            // cook up a div (if necessary) and position it \n            let div = window.document.getElementById("code-annotation-line-highlight");\n            if (div === null) {\n              div = window.document.createElement("div");\n              div.setAttribute("id", "code-annotation-line-highlight");\n              div.style.position = \'absolute\';\n              parent.appendChild(div);\n            }\n            div.style.top = top - 2 + "px";\n            div.style.height = height + 4 + "px";\n            div.style.left = 0;\n            let gutterDiv = window.document.getElementById("code-annotation-line-highlight-gu

In [111]:
html_doc = """
<html><head><title>The Dormouse's story</title></head>
<body>
<p class="title"><b>The Dormouse's story</b></p>

<p class="story">Once upon a time there were three little sisters; and their names were
<a href="http://example.com/elsie" class="sister" id="link1">Elsie</a>,
<a href="http://example.com/lacie" class="sister" id="link2">Lacie</a> and
<a href="http://example.com/tillie" class="sister" id="link3">Tillie</a>;
and they lived at the bottom of a well.</p>

<p class="story">...</p></html>
"""
from bs4 import BeautifulSoup
parsed = BeautifulSoup(html_doc, 'html.parser')
print(parsed.prettify())

<html>
 <head>
  <title>
   The Dormouse's story
  </title>
 </head>
 <body>
  <p class="title">
   <b>
    The Dormouse's story
   </b>
  </p>
  <p class="story">
   Once upon a time there were three little sisters; and their names were
   <a class="sister" href="http://example.com/elsie" id="link1">
    Elsie
   </a>
   ,
   <a class="sister" href="http://example.com/lacie" id="link2">
    Lacie
   </a>
   and
   <a class="sister" href="http://example.com/tillie" id="link3">
    Tillie
   </a>
   ;
and they lived at the bottom of a well.
  </p>
  <p class="story">
   ...
  </p>
 </body>
</html>

In [112]:
print(type(parsed.title))
print(parsed.title)

<class 'bs4.element.Tag'>
<title>The Dormouse's story</title>

In [113]:
parsed.title.name

'title'

In [114]:
parsed.title.string

"The Dormouse's story"

In [115]:
parsed.a

In [116]:
# * 找到所有名为‘a’的标签，这是HTML中用于超链接的标签。
parsed.find_all('a')

[<a class="sister" href="http://example.com/elsie" id="link1">Elsie</a>,
 <a class="sister" href="http://example.com/lacie" id="link2">Lacie</a>,
 <a class="sister" href="http://example.com/tillie" id="link3">Tillie</a>]

In [117]:
# * 在名为‘a’的标签中的‘href’属性包含用于超链接的实际URL。
for link in parsed.find_all('a'):
    print(link.get('href'))

http://example.com/elsie
http://example.com/lacie
http://example.com/tillie

In [118]:
# BeautifulSoup标签具有可以像字典一样访问的HTML属性：
shortdoc = """
<p class="story">Once upon a time there were three little sisters; and their names were
<a href="http://example.com/elsie" class="sister" id="link1">Elsie</a>,
<a href="http://example.com/lacie" class="sister" id="link2">Lacie</a> and
<a href="http://example.com/tillie" class="sister" id="link3">Tillie</a>;
and they lived at the bottom of a well.</p>
"""
pshort = BeautifulSoup(shortdoc, 'html.parser')
print(pshort.p['class'])

['story']

In [119]:
# BeautifulSoup标签具有可以作为Python属性访问的子代：
print(pshort.p.a)

<a class="sister" href="http://example.com/elsie" id="link1">Elsie</a>

In [120]:
# * 通过标签名获得树中的第一个的标签
print(parsed.title)
print(parsed.a)
print(parsed.p)

<title>The Dormouse's story</title>
<a class="sister" href="http://example.com/elsie" id="link1">Elsie</a>
<p class="title"><b>The Dormouse's story</b></p>

In [121]:
# * 如果标签的子代是一个字符串(叶子节点)，用tag.string访问
parsed.title.string

"The Dormouse's story"

In [122]:
# * 通过标签的标签来深度遍历树
print(parsed.p.b)

<b>The Dormouse's story</b>

In [123]:
# * 用.contents访问标签的子代列表
pshort.p.contents

['Once upon a time there were three little sisters; and their names were\n',
 <a class="sister" href="http://example.com/elsie" id="link1">Elsie</a>,
 ',\n',
 <a class="sister" href="http://example.com/lacie" id="link2">Lacie</a>,
 ' and\n',
 <a class="sister" href="http://example.com/tillie" id="link3">Tillie</a>,
 ';\nand they lived at the bottom of a well.']

In [124]:
# * 或者用.children获取子代信息（Python迭代器）
print(pshort.p.children)
for i in pshort.p.children:
    print(i)

<list_iterator object at 0x0000025A3E229A50>
Once upon a time there were three little sisters; and their names were

<a class="sister" href="http://example.com/elsie" id="link1">Elsie</a>
,

<a class="sister" href="http://example.com/lacie" id="link2">Lacie</a>
 and

<a class="sister" href="http://example.com/tillie" id="link3">Tillie</a>
;
and they lived at the bottom of a well.

In [125]:
# * 用.descendants递归遍历树
print(pshort.p.descendants)
for i in pshort.p.descendants:
    print(i)

<generator object Tag.descendants at 0x0000025A3F9B92F0>
Once upon a time there were three little sisters; and their names were

<a class="sister" href="http://example.com/elsie" id="link1">Elsie</a>
Elsie
,

<a class="sister" href="http://example.com/lacie" id="link2">Lacie</a>
Lacie
 and

<a class="sister" href="http://example.com/tillie" id="link3">Tillie</a>
Tillie
;
and they lived at the bottom of a well.

In [126]:
link = parsed.a
link

In [127]:
# 用.parent访问标签的父标签
link.parent

<p class="story">Once upon a time there were three little sisters; and their names were
<a class="sister" href="http://example.com/elsie" id="link1">Elsie</a>,
<a class="sister" href="http://example.com/lacie" id="link2">Lacie</a> and
<a class="sister" href="http://example.com/tillie" id="link3">Tillie</a>;
and they lived at the bottom of a well.</p>

In [128]:
link.parents

In [129]:
# 用.parents获取回到根标签的整个父链
for parent in link.parents:
    print(parent.name)

p
body
html
[document]

In [130]:
# 用.previous_sibling和.next_sibling在树中“左”和“右”移动
print(link.previous_sibling)
print(link.next_sibling)

Once upon a time there were three little sisters; and their names were

,

In [131]:
# 找到所有名为‘p’的标签
parsed.find_all('p')

[<p class="title"><b>The Dormouse's story</b></p>,
 <p class="story">Once upon a time there were three little sisters; and their names were
 <a class="sister" href="http://example.com/elsie" id="link1">Elsie</a>,
 <a class="sister" href="http://example.com/lacie" id="link2">Lacie</a> and
 <a class="sister" href="http://example.com/tillie" id="link3">Tillie</a>;
 and they lived at the bottom of a well.</p>,
 <p class="story">...</p>]

In [132]:
# 找到所有名称匹配‘a’或‘b’的标签
parsed.find_all(['a', 'b'])

[<b>The Dormouse's story</b>,
 <a class="sister" href="http://example.com/elsie" id="link1">Elsie</a>,
 <a class="sister" href="http://example.com/lacie" id="link2">Lacie</a>,
 <a class="sister" href="http://example.com/tillie" id="link3">Tillie</a>]

In [133]:
# 找到所有名称匹配给定正则表达式的标签。
import re
parsed.find_all(re.compile(r'^b'))

[<body>
 <p class="title"><b>The Dormouse's story</b></p>
 <p class="story">Once upon a time there were three little sisters; and their names were
 <a class="sister" href="http://example.com/elsie" id="link1">Elsie</a>,
 <a class="sister" href="http://example.com/lacie" id="link2">Lacie</a> and
 <a class="sister" href="http://example.com/tillie" id="link3">Tillie</a>;
 and they lived at the bottom of a well.</p>
 <p class="story">...</p></body>,
 <b>The Dormouse's story</b>]

In [134]:
# 传入一个函数，该函数根据标签返回True/False，find_all将只返回评估为True的标签
def has_class_but_no_id(tag):
    return tag.has_attr('class') and not tag.has_attr('id')
parsed.find_all(has_class_but_no_id)

[<p class="title"><b>The Dormouse's story</b></p>,
 <p class="story">Once upon a time there were three little sisters; and their names were
 <a class="sister" href="http://example.com/elsie" id="link1">Elsie</a>,
 <a class="sister" href="http://example.com/lacie" id="link2">Lacie</a> and
 <a class="sister" href="http://example.com/tillie" id="link3">Tillie</a>;
 and they lived at the bottom of a well.</p>,
 <p class="story">...</p>]

In [135]:
# 这个<p>标签包含一个完整的句子，但句子的某些部分是链接，所以p.string失败。如果我想在没有链接的情况下获取完整的字符串，我该怎么办？
print(pshort)
print(pshort.p.string is None)

<p class="story">Once upon a time there were three little sisters; and their names were
<a class="sister" href="http://example.com/elsie" id="link1">Elsie</a>,
<a class="sister" href="http://example.com/lacie" id="link2">Lacie</a> and
<a class="sister" href="http://example.com/tillie" id="link3">Tillie</a>;
and they lived at the bottom of a well.</p>

True

In [136]:
pshort.p.contents

['Once upon a time there were three little sisters; and their names were\n',
 <a class="sister" href="http://example.com/elsie" id="link1">Elsie</a>,
 ',\n',
 <a class="sister" href="http://example.com/lacie" id="link2">Lacie</a>,
 ' and\n',
 <a class="sister" href="http://example.com/tillie" id="link3">Tillie</a>,
 ';\nand they lived at the bottom of a well.']

In [137]:
# 注意：在BeautifulSoup中尝试访问不存在的tag.string是常见导致错误/错误的原因！
pshort.p.get_text()

'Once upon a time there were three little sisters; and their names were\nElsie,\nLacie and\nTillie;\nand they lived at the bottom of a well.'

In [138]:
pshort.find_all('name')

[]

In [139]:
import json
json_string = '{"first_name": "John", "last_name": "Smith",\
    "alma_mater": "Princeton University"}'
# json.loads解析字符串并返回JSON对象。
parsed_json = json.loads(json_string)
print(type(parsed_json))
parsed_json

<class 'dict'>

{'first_name': 'John',
 'last_name': 'Smith',
 'alma_mater': 'Princeton University'}

In [140]:
# json.dumps将JSON对象重新转换为字符串。
json.dumps(parsed_json)

'{"first_name": "John", "last_name": "Smith", "alma_mater": "Princeton University"}'

In [141]:
type(parsed_json), parsed_json

(dict,
 {'first_name': 'John',
  'last_name': 'Smith',
  'alma_mater': 'Princeton University'})

In [142]:
parsed_json['first_name']

'John'

# LECTURE08

In [143]:
import sqlite3
conn = sqlite3.connect('example.db')
cursor = conn.cursor()

In [144]:
cursor.execute('''CREATE TABLE IF NOT EXISTS student
             (id, name, major, score);''')
conn.commit()

In [145]:
cursor.execute("DROP TABLE IF EXISTS student;")
conn.commit()

In [146]:
cursor.execute('''CREATE TABLE IF NOT EXISTS student
             (id, name, major, score);''')
conn.commit()

In [147]:
import pandas as pd
def print_student_details():
    sql_select = "SELECT * FROM student;"
    cursor.execute(sql_select)
    # 在执行数据库查询后，游标对象将访问查询返回的数据。
    # fetchall() 方法会返回查询结果的所有行，通常是以列表的形式
    result = cursor.fetchall()
    result = pd.DataFrame(result, columns=['id', 'name', 'major', 'score'])
    return(result)

In [148]:
sql = "INSERT INTO student (id, name, major, score) VALUES (5, 'PJ', 'CS', 85);"
cursor.execute(sql)
conn.commit()
print_student_details()

   id name major  score
0   5   PJ    CS     85

In [149]:
sql_delete = "DELETE FROM student WHERE name='PJ';"
cursor.execute(sql_delete)
conn.commit()
print_student_details()

Empty DataFrame
Columns: [id, name, major, score]
Index: []

In [150]:
students = [
    (0, 'PJ', 'CS', 85),
    (1, 'John', 'Math', 90),
    (2, 'Jane', 'Math', 85),
    (3, 'Bob', 'English', 95),
    (4, 'Alice', 'History', 80),
    (5, 'Tom', 'Art', None),
    (6, 'Mary', 'Music', 98)
]
# Insert data into table
cursor.executemany('INSERT INTO student VALUES (?,?,?,?)', students)
conn.commit()
print_student_details()

   id   name    major  score
0   0     PJ       CS   85.0
1   1   John     Math   90.0
2   2   Jane     Math   85.0
3   3    Bob  English   95.0
4   4  Alice  History   80.0
5   5    Tom      Art    NaN
6   6   Mary    Music   98.0

In [151]:
cursor.execute("UPDATE student SET score = 90 WHERE name = 'PJ'")
conn.commit()
print_student_details()

   id   name    major  score
0   0     PJ       CS   90.0
1   1   John     Math   90.0
2   2   Jane     Math   85.0
3   3    Bob  English   95.0
4   4  Alice  History   80.0
5   5    Tom      Art    NaN
6   6   Mary    Music   98.0

In [152]:
cursor.execute("SELECT * FROM student;")
result = cursor.fetchall()
pd.DataFrame(result, columns=['id', 'name', 'major', 'score'])

   id   name    major  score
0   0     PJ       CS   90.0
1   1   John     Math   90.0
2   2   Jane     Math   85.0
3   3    Bob  English   95.0
4   4  Alice  History   80.0
5   5    Tom      Art    NaN
6   6   Mary    Music   98.0

In [153]:
cursor.execute("SELECT name, score FROM student;")
result = cursor.fetchall()
pd.DataFrame(result, columns=['name', 'score'])

    name  score
0     PJ   90.0
1   John   90.0
2   Jane   85.0
3    Bob   95.0
4  Alice   80.0
5    Tom    NaN
6   Mary   98.0

In [154]:
cursor.execute("SELECT * FROM student WHERE score > 90;")
result = cursor.fetchall()
pd.DataFrame(result, columns=['id', 'name', 'major', 'score'])

   id  name    major  score
0   3   Bob  English     95
1   6  Mary    Music     98

In [155]:
cursor.execute("SELECT * FROM student WHERE score <> 80;")
result = cursor.fetchall()
pd.DataFrame(result, columns=['id', 'name', 'major', 'score'])

   id  name    major  score
0   0    PJ       CS     90
1   1  John     Math     90
2   2  Jane     Math     85
3   3   Bob  English     95
4   6  Mary    Music     98

In [156]:
cursor.execute("SELECT * FROM student WHERE score BETWEEN 80 AND 95;")
result = cursor.fetchall()
pd.DataFrame(result, columns=['id', 'name', 'major', 'score'])

   id   name    major  score
0   0     PJ       CS     90
1   1   John     Math     90
2   2   Jane     Math     85
3   3    Bob  English     95
4   4  Alice  History     80

In [157]:
cursor.execute("SELECT * FROM student WHERE major in ('English', 'Math')")
result = cursor.fetchall()
pd.DataFrame(result, columns=['id', 'name', 'age','major'])

   id  name      age  major
0   1  John     Math     90
1   2  Jane     Math     85
2   3   Bob  English     95

In [158]:
cursor.execute("SELECT * FROM student WHERE name LIKE 'J%';")
result = cursor.fetchall()
pd.DataFrame(result, columns=['id', 'name', 'age', 'gender'])

   id  name   age  gender
0   1  John  Math      90
1   2  Jane  Math      85

In [159]:
cursor.execute("SELECT * FROM student WHERE name LIKE 'J_hn';")
result = cursor.fetchall()
pd.DataFrame(result, columns=['id', 'name', 'age', 'gender'])

   id  name   age  gender
0   1  John  Math      90

In [160]:
cursor.execute("SELECT * FROM student WHERE score is NULL;")
result = cursor.fetchall()
pd.DataFrame(result, columns=['id', 'name', 'major', 'score'])

   id name major score
0   5  Tom   Art  None

In [161]:
cursor.execute("SELECT id, name, score FROM student ORDER BY score DESC;")
result = cursor.fetchall()
pd.DataFrame(result, columns=['id', 'name', 'score'])

   id   name  score
0   6   Mary   98.0
1   3    Bob   95.0
2   0     PJ   90.0
3   1   John   90.0
4   2   Jane   85.0
5   4  Alice   80.0
6   5    Tom    NaN

In [162]:
cursor.execute("SELECT DISTINCT major FROM student;")
result = cursor.fetchall()
pd.DataFrame(result, columns=['Major'])

     Major
0       CS
1     Math
2  English
3  History
4      Art
5    Music

In [163]:
cursor.execute("SELECT major, AVG(score) FROM student GROUP BY major;")
result = cursor.fetchall()
pd.DataFrame(result, columns=['Major', 'Mean Score'])

     Major  Mean Score
0      Art         NaN
1       CS        90.0
2  English        95.0
3  History        80.0
4     Math        87.5
5    Music        98.0

In [164]:
cursor.execute("SELECT major, AVG(score) AS avg_score FROM student \
                Group by major HAVING COUNT(*) > 1")
result = cursor.fetchall()
pd.DataFrame(result, columns=['major', 'AVG(score)'])

  major  AVG(score)
0  Math        87.5

In [165]:
import sqlite3
conn = sqlite3.connect('example.db')
cursor = conn.cursor()

In [166]:
cursor.execute('''CREATE TABLE IF NOT EXISTS st_info
             (name, age, gender);''')
conn.commit()

In [167]:
st_infos= [
    ('Alice', 20, 'Female'),
    ('Bob', 22, 'Male'),
    ('Charlie', 21, 'Male'),
    ('David', 23, 'Male'),
    ('Eve', 22, 'Female'),
    ('Frank', 21, 'Male')
]
    
# Insert data into table
cursor.executemany('INSERT INTO st_info VALUES (?,?,?)',st_infos )
conn.commit()
print_student_details()

   id   name    major  score
0   0     PJ       CS   90.0
1   1   John     Math   90.0
2   2   Jane     Math   85.0
3   3    Bob  English   95.0
4   4  Alice  History   80.0
5   5    Tom      Art    NaN
6   6   Mary    Music   98.0

In [168]:
cursor.execute("SELECT * FROM st_info;")
result = cursor.fetchall()
pd.DataFrame(result, columns=['name', 'age', 'gender'])

       name  age  gender
0     Alice   20  Female
1       Bob   22    Male
2   Charlie   21    Male
3     David   23    Male
4       Eve   22  Female
5     Frank   21    Male
6     Alice   20  Female
7       Bob   22    Male
8   Charlie   21    Male
9     David   23    Male
10      Eve   22  Female
11    Frank   21    Male
12    Alice   20  Female
13      Bob   22    Male
14  Charlie   21    Male
15    David   23    Male
16      Eve   22  Female
17    Frank   21    Male
18    Alice   20  Female
19      Bob   22    Male
20  Charlie   21    Male
21    David   23    Male
22      Eve   22  Female
23    Frank   21    Male
24    Alice   20  Female
25      Bob   22    Male
26  Charlie   21    Male
27    David   23    Male
28      Eve   22  Female
29    Frank   21    Male
30    Alice   20  Female
31      Bob   22    Male
32  Charlie   21    Male
33    David   23    Male
34      Eve   22  Female
35    Frank   21    Male
36    Alice   20  Female
37      Bob   22    Male
38  Charlie   21    Male
39    David   23    Male
40      Eve   22  Female
41    Frank   21    Male
42    Alice   20  Female
43      Bob   22    Male
44  Charlie   21    Male
45    David   23    Male
46      Eve   22  Female
47    Frank   21    Male
48    Alice   20  Female
49      Bob   22    Male
50  Charlie   21    Male
51    David   23    Male
52      Eve   22  Female
53    Frank   21    Male

In [169]:
cursor.execute("SELECT * FROM student INNER JOIN st_info ON student.name=st_info.name;")
result = cursor.fetchall()
df = pd.DataFrame(result, columns=['id', 'name', 'major', 'score', 'name2', 'age', 'gender'])

In [170]:
cursor.execute("SELECT * FROM student INNER JOIN st_info ON student.name=st_info.name;")
result = cursor.fetchall()
df = pd.DataFrame(result, columns=['id', 'name', 'major', 'score', 'name2', 'age', 'gender'])

In [171]:
cursor.execute("SELECT * FROM student FULL OUTER JOIN st_info ON student.name=st_info.name;")
result = cursor.fetchall()
pd.DataFrame(result, columns=['id', 'name', 'major', 'score', 'name', 'age', 'gender'])

     id   name    major  score     name   age  gender
0   0.0     PJ       CS   90.0     None   NaN    None
1   1.0   John     Math   90.0     None   NaN    None
2   2.0   Jane     Math   85.0     None   NaN    None
3   3.0    Bob  English   95.0      Bob  22.0    Male
4   3.0    Bob  English   95.0      Bob  22.0    Male
5   3.0    Bob  English   95.0      Bob  22.0    Male
6   3.0    Bob  English   95.0      Bob  22.0    Male
7   3.0    Bob  English   95.0      Bob  22.0    Male
8   3.0    Bob  English   95.0      Bob  22.0    Male
9   3.0    Bob  English   95.0      Bob  22.0    Male
10  3.0    Bob  English   95.0      Bob  22.0    Male
11  3.0    Bob  English   95.0      Bob  22.0    Male
12  4.0  Alice  History   80.0    Alice  20.0  Female
13  4.0  Alice  History   80.0    Alice  20.0  Female
14  4.0  Alice  History   80.0    Alice  20.0  Female
15  4.0  Alice  History   80.0    Alice  20.0  Female
16  4.0  Alice  History   80.0    Alice  20.0  Female
17  4.0  Alice  History   80.0    Alice  20.0  Female
18  4.0  Alice  History   80.0    Alice  20.0  Female
19  4.0  Alice  History   80.0    Alice  20.0  Female
20  4.0  Alice  History   80.0    Alice  20.0  Female
21  5.0    Tom      Art    NaN     None   NaN    None
22  6.0   Mary    Music   98.0     None   NaN    None
23  NaN   None     None    NaN  Charlie  21.0    Male
24  NaN   None     None    NaN    David  23.0    Male
25  NaN   None     None    NaN      Eve  22.0  Female
26  NaN   None     None    NaN    Frank  21.0    Male
27  NaN   None     None    NaN  Charlie  21.0    Male
28  NaN   None     None    NaN    David  23.0    Male
29  NaN   None     None    NaN      Eve  22.0  Female
30  NaN   None     None    NaN    Frank  21.0    Male
31  NaN   None     None    NaN  Charlie  21.0    Male
32  NaN   None     None    NaN    David  23.0    Male
33  NaN   None     None    NaN      Eve  22.0  Female
34  NaN   None     None    NaN    Frank  21.0    Male
35  NaN   None     None    NaN  Charlie  21.0    Male
36  NaN   None     None    NaN    David  23.0    Male
37  NaN   None     None    NaN      Eve  22.0  Female
38  NaN   None     None    NaN    Frank  21.0    Male
39  NaN   None     None    NaN  Charlie  21.0    Male
40  NaN   None     None    NaN    David  23.0    Male
41  NaN   None     None    NaN      Eve  22.0  Female
42  NaN   None     None    NaN    Frank  21.0    Male
43  NaN   None     None    NaN  Charlie  21.0    Male
44  NaN   None     None    NaN    David  23.0    Male
45  NaN   None     None    NaN      Eve  22.0  Female
46  NaN   None     None    NaN    Frank  21.0    Male
47  NaN   None     None    NaN  Charlie  21.0    Male
48  NaN   None     None    NaN    David  23.0    Male
49  NaN   None     None    NaN      Eve  22.0  Female
50  NaN   None     None    NaN    Frank  21.0    Male
51  NaN   None     None    NaN  Charlie  21.0    Male
52  NaN   None     None    NaN    David  23.0    Male
53  NaN   None     None    NaN      Eve  22.0  Female
54  NaN   None     None    NaN    Frank  21.0    Male
55  NaN   None     None    NaN  Charlie  21.0    Male
56  NaN   None     None    NaN    David  23.0    Male
57  NaN   None     None    NaN      Eve  22.0  Female
58  NaN   None     None    NaN    Frank  21.0    Male

In [172]:
cursor.close()
conn.close()

In [173]:
# sign in
import psycopg2
db_params = {
    'dbname': 'postgres',
    'user': 'postgres',
    'password': '123456',
    'host': 'localhost',  # 数据库主机地址
    'port': '5432'        # PostgreSQL默认端口
}
conn = psycopg2.connect(**db_params)
cursor = conn.cursor()

In [174]:
cursor.execute("DROP TABLE IF EXISTS scores;")
conn.commit()

In [175]:
cursor.execute("CREATE TABLE IF NOT EXISTS scores (id INT, name VARCHAR(50), score INT)")
conn.commit()

In [176]:
cursor.execute("INSERT INTO scores (id, name, score) VALUES (1, 'John', 89);")
conn.commit()

In [177]:
import pandas as pd
cursor.execute("SELECT * FROM scores;")
results = cursor.fetchall()
pd.DataFrame(results, columns=['id', 'name', 'score'])

   id  name  score
0   1  John     89

In [178]:
data = [(2, 'PJ', 78), (3, 'AJ', 85)]
cursor.executemany("INSERT INTO scores (id, name, score) VALUES (%s, %s, %s)", data)
conn.commit()